@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.nav{
    background-color: crimson;
background-image: linear-gradient(180deg, crimson 0%, #222 97%);
}

.nav .nav__content h1{
    color:#fff
}
.nav .nav__content h1 span{
    color:crimson;
}
.nav .nav__content{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 15px;
}

.nav .nav__content ul{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav .nav__content ul a{
    text-decoration: none;
    margin-left: 20px;
    color: black;
    transition: all .3s ease-in-out;
}

.nav .nav__content ul a li{
    list-style: none;
}

.nav .nav__content ul a:hover{
    color: #fff;
    transform: scale(1.2);
    font-weight: 500;
    border-bottom: 1px solid #fff;
}
.nav .nav__content .search {
    display: flex;
    align-items: center;
}
.nav .nav__content .search input{
    background: transparent;
    outline:  none;
    padding: 5px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
}

.nav .nav__content .search i{
    font-size: 30px;
    color:#fff;
}

.home{
    background: #222;
}
.home .home__content {
    display: flex;
}

.home .home__content .information{
    width: 50%;
    padding: 50px;
}

.home .home__content .information h2{
    color: crimson;
    font-size: 50px;;
}
.home .home__content .information h2 span{
    display: block;
    
}
.home .home__content .information p{
    color: #fff;
    margin-top: 20px;
}

.home .home__content .information .butons{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.home .home__content .information .butons button{
    height: 30px;
    width: 120px;
    border: none;
    outline: none;
    font-size: 17px;
    color:#fff;
}

.home .home__content .information .butons .play{
    background: crimson;
}
.home .home__content .information .butons .add_list{
    background: #222;
    border: 1px solid #fff;
}

.home .home__content .poster{
    width: 100%;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}
.home .home__content .poster img{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}

.categories {
    padding: 40px;
    background: #222;
}
.categories ul{
    display: flex;
    justify-content: space-around;
}
.categories ul a{
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in-out
}

.categories ul a li{
    list-style: none;
}

.categories ul a:hover{
    color: crimson;
    transform: scale(1.5);
    border-bottom: 2px solid crimson;
}
.banner{
    background: crimson;
    height: 3px;
    width: 100%;
}
.top_picks{
    width: 100%;
    background: #222;
    color: #fff;
}

.top_picks .top__content{
    display:flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.top_picks .top__content .peli{
    margin: 10px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.top_picks .top__content .peli:hover{
    background: #fff;
    color: #222;
}

.top_picks .top__content .peli p{
    margin: 5px;
    width: 100%;
} 



.top_picks .top__content .peli img{
    border-top-left-radius:5px ;
    border-top-right-radius: 5px;
    width: 210px;
    height: 250px;
    
}

